<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gg.yms.icia.dao.IBoardDao">

	<select id="bbBulletinBoardList" parameterType="Integer"
		resultType="Board">
		<![CDATA[
			SELECT * FROM (
            	SELECT ROWNUM RN, B.*
            	FROM (SELECT * FROM BulletinBoard ORDER BY BB_POSTNUM DESC) B
            	WHERE ROWNUM<=#{pageNum}*10  
            	)
         	WHERE RN>=#{pageNum}*10-9
		]]>

	</select>
	
	<select id="getBoardCount" resultType="int">
		SELECT COUNT(*) FROM BULLETINBOARD
	</select>
	
	<select id="bbBoardView" parameterType="Integer" resultType="Board">
		SELECT * FROM BULLETINBOARD
		WHERE BB_POSTNUM = #{bb_postNum}
	</select>
	
	<insert id="bbBoardWrite" parameterType="Board">
		INSERT INTO BULLETINBOARD VALUES(bb_postNum_SEQ.nextval, #{bb_id}, #{bb_title}, #{bb_content}, default, default)
	</insert>
	
	<select id="bbReplyView" parameterType="Integer" resultType="BbReply">
		SELECT * FROM BBREPLY
		WHERE BBR_POSTNUM = #{bb_postNum}
	</select>
	
	<insert id="bbReplyInsert" parameterType="BbReply">
		INSERT INTO BBREPLY VALUES(#{bbr_postNum}, BBREPLY_SEQ.NEXTVAL, #{bbr_content}, #{bbr_id}, SYSDATE)
	</insert>
	

	<select id = "findLikeNum"  resultType = "int"> 
		SELECT COUNT(*) FROM BoardLike WHERE  BBL_POSTNUM = #{bbl_postnum} AND BBL_ID = #{bbl_Id} 
	</select>
	
	
	<select id = "getLike" resultType = "int">
		SELECT BB_LIKE FROM BULLETINBOARD WHERE BB_POSTNUM =  #{bbl_postnum}
	</select>
	
	<insert id = "bblUp">
		INSERT INTO BoardLike (bbl_postnum , bbl_Id , bbl_like, bbl_likeNum)
		VALUES (#{bbl_postnum},#{bbl_Id}, bbl_like_seq.nextval,1)
	</insert>
	
	<update id="bb_likeUp">
		UPDATE BULLETINBOARD 
		SET bb_like = (select bb_like from BULLETINBOARD where BB_POSTNUM = #{bbl_postnum}) +1
		where BB_POSTNUM = #{bbl_postnum}
	</update>	

	<update id="bb_likeDown">
		UPDATE BULLETINBOARD 
		SET bb_like = (select bb_like from BULLETINBOARD where BB_POSTNUM = #{bbl_postnum}) -1
		where BB_POSTNUM = #{bbl_postnum}
	</update>
	
	<select id = "getbbl" resultType = "BoardLike">
		SELECT * FROM BoardLike WHERE BBL_POSTNUM = #{bbl_postnum} AND BBL_ID = #{bbl_Id} 
	</select>

	<delete id = "bblDown">
		DELETE FROM BoardLike WHERE BBL_POSTNUM = #{bbl_postnum} AND BBL_ID = #{bbl_Id}		
	</delete>

</mapper>