<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gg.yms.icia.dao.IFeedbackDao">



	<select id="gmFeedbackListfirst" resultType="Feedback">
		<![CDATA[
			SELECT * FROM (
            	SELECT ROWNUM RN, FEEDBACK.*
            	FROM (SELECT * FROM FEEDBACK WHERE FB_REQ_ID = #{FB_REQ_ID} ORDER BY FB_POSTNUM DESC) FEEDBACK
            	WHERE ROWNUM<=#{pageNum}*10  
            	)
         	WHERE RN>=#{pageNum}*10-9
		]]>
	</select>

	<select id="gmFeedbackList" resultType="Feedback">
		<![CDATA[
			SELECT * FROM (
            	SELECT ROWNUM RN, FEEDBACK.*
            	FROM (SELECT * FROM FEEDBACK WHERE FB_REQ_ID = #{FB_REQ_ID} AND FB_CHECK = #{FB_CHECK}  ORDER BY FB_POSTNUM DESC) FEEDBACK
            	WHERE ROWNUM<=#{pageNum}*10  
            	)
         	WHERE RN>=#{pageNum}*10-9
		]]>
	</select>

	<select id="getBoardCount" resultType="int">
		SELECT COUNT(*) FROM
		FEEDBACK
		WHERE FB_CHECK = #{fb_check}
	</select>

	<select id="getFirstPaging" resultType="int">
		SELECT COUNT(*) FROM
		FEEDBACK
	</select>

	<!-- 글 조회 -->
	<select id="getFbreq" parameterType="int" resultType="Feedback">
		SELECT *
		FROM FEEDBACK WHERE FB_POSTNUM = #{fb_postNum}
	</select>

	<insert id="gmFbReqWrite" parameterType="String">
		INSERT INTO
		FEEDBACK
		VALUES(SEQ_FB_POSTNUM.NEXTVAL ,#{fb_req_id}, #{fb_req_gameId} , #{fb_req_title},
		#{fb_req_summonerName} ,
		#{fb_req_contents} , default , null , null , null , 1)
	</insert>

	<!-- 피드백 계정 -->
	<select id="fmFeedbackList" parameterType="Integer"
		resultType="Feedback">
		<![CDATA[
			SELECT * FROM (
            	SELECT ROWNUM RN, FEEDBACK.*
            	FROM (SELECT * FROM FEEDBACK WHERE (FB_CHECK = 1) ORDER BY FB_POSTNUM DESC) FEEDBACK
            	WHERE ROWNUM<=#{pageNum}*10  
            	)
         	WHERE RN>=#{pageNum}*10-9
		]]>
	</select>

	<select id="fmWatingFbView" resultType="Feedback">
		SELECT * FROM FEEDBACK
		WHERE FB_POSTNUM = #{fb_postNum}
	</select>

	<select id="getWatingFbCount" resultType="int">
		SELECT COUNT(*) FROM
		FEEDBACK WHERE FB_CHECK = 1
	</select>

	<update id="FbAccept">
		UPDATE FEEDBACK
		SET FB_ANS_ID =
		#{FB_ANS_ID} , FB_CHECK
		= 2
		WHERE FB_POSTNUM = #{FB_POSTNUM}
	</update>

	<select id="getAcceptFbCount" resultType="int">
		SELECT COUNT(*) FROM
		FEEDBACK WHERE (FB_CHECK = 2 AND FB_ANS_ID = #{fb_ans_id})
	</select>

	<select id="fmAcceptFbList" resultType="Feedback">
		<![CDATA[
			SELECT * FROM (
            	SELECT ROWNUM RN, FEEDBACK.*
            	FROM (SELECT * FROM FEEDBACK WHERE (FB_CHECK = 2 AND FB_ANS_ID = #{FB_ANS_ID}) ORDER BY FB_POSTNUM DESC) FEEDBACK
            	WHERE ROWNUM<=#{pageNum}*10  
            	)
         	WHERE RN>=#{pageNum}*10-9
		]]>
	</select>

	<select id="feedbackWritebView" resultType="Feedback">
		SELECT * FROM
		FEEDBACK
		WHERE FB_POSTNUM = #{fb_postNum}
	</select>

	<update id="fbWrite">
		UPDATE FEEDBACK
		SET FB_ANS_CONTENTS =
		#{FB_ANS_CONTENTS} , FB_CHECK = 3 , FB_ANS_DATE = default
		WHERE
		FB_POSTNUM = #{FB_POSTNUM}
	</update>



<!-- 계정 신청 일반 -->
	<insert id="gmFeedbackAccount"
		parameterType="FeedbackApplication">
		INSERT INTO FEEDBACKAPPLICATION VALUES (FA_SEQ.NEXTVAL,
		#{fba_id}, #{fba_portfolio}, DEFAULT, DEFAULT)
	</insert>

<!-- 계정 신청 관리자 -->

	<select id="gmFeedbackConfirmList" parameterType="Integer"
		resultType="FeedbackApplication">

		<![CDATA[
			SELECT * FROM (
            	SELECT ROWNUM RN,FA.*
            	FROM (SELECT * FROM FEEDBACKAPPLICATION ORDER BY fba_postnum DESC) FA
            	WHERE ROWNUM<=#{pageNum}*10  
            	)
         	WHERE RN>=#{pageNum}*10-9 AND FBA_CHECK=0
		]]>
	</select>

	<select id="gmFeedbackConfirmView" parameterType="Integer"
		resultType="FeedbackApplication">
		SELECT * FROM FEEDBACKAPPLICATION WHERE FBA_POSTNUM =
		#{fba_postnum}
	</select>

	<update id="gmFeedbackTransUpdate" parameterType="int">
		UPDATE
		FEEDBACKAPPLICATION
		SET FBA_CHECK = 1
		WHERE FBA_POSTNUM = #{fba_postnum}

	</update>

	<update id="gmFeedbackTransUpdate2" parameterType="int">

		UPDATE (SELECT M.M_RATING
		FROM FEEDBACKAPPLICATION F
		RIGHT JOIN MEMBER M
		ON (F.FBA_ID = M.M_ID)
		WHERE F.FBA_POSTNUM = #{fba_postnum}
		)
		SET M_RATING = 'FM'
	</update>

	<delete id="gmFeedbackTransDelete" parameterType="Integer">
		DELETE FROM FEEDBACKAPPLICATION
		WHERE FBA_POSTNUM = #{fba_postnum}
	</delete>

</mapper>
