<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gg.yms.icia.dao.IMemberDao">

	<select id="getMemberInfo" parameterType="String"
		resultType="Member">
		SELECT * FROM MEMBER WHERE M_ID=#{m_id}
	</select>

	<insert id="mmJoin" parameterType="Member">
		INSERT INTO MEMBER
		VALUES(#{m_id}, #{m_pw}, #{m_name}, #{m_phoneNum}, #{m_birth},
		#{m_email}, #{m_summonerName}, default, default, default)
	</insert>

	<select id="mmIdCheck" parameterType="Member" resultType="int">
		SELECT
		COUNT(*) FROM MEMBER WHERE M_ID=#{m_id}
	</select>

	<select id="mmLogin" parameterType="Member" resultType="boolean">
		SELECT
		COUNT(*) FROM MEMBER WHERE M_ID=#{m_id} AND M_PW=#{m_pw}
	</select>

	<select id="mmSearchMember" parameterType="Member"
		resultType="Member">
		SELECT * FROM MEMBER WHERE M_NAME=#{m_name} AND
		M_BIRTH=#{m_birth} AND M_PHONENUM=#{m_phoneNum}
	</select>

	<update id="mmResetPw" parameterType="Member">
		UPDATE MEMBER SET
		M_PW=#{m_pw} WHERE M_ID=#{m_id}
	</update>

	<update id="cmMyInfoUpdate" parameterType="Member">
		UPDATE MEMBER
		SET
		M_SUMMONERNAME=#{m_summonerName}, M_PHONENUM=#{m_phoneNum},
		M_BIRTH=#{m_birth}, M_EMAIL=#{m_email}
		WHERE M_ID=#{m_id}
	</update>

	<update id="cmMyInfoPwUpdate" parameterType="Member">
		UPDATE
		MEMBER
		SET
		M_PW=#{m_pw}
		WHERE M_ID=#{m_id}
	</update>

	<delete id="cmMyInfoDelete" parameterType="Member">
		DELETE FROM MEMBER
		WHERE M_ID=#{m_id}
	</delete>

	<insert id="cmInsertWithdrawal" parameterType="Withdrawal">
		INSERT INTO
		WITHDRAWAL VALUES(#{wd_id}, #{wd_reason}, default)
	</insert>

	<update id="cmCashCharge" parameterType="Member">
		UPDATE MEMBER
		SET
		M_CASH=#{m_cash}
		WHERE M_ID=#{m_id}
	</update>

	<select id="mmEncoderPw" resultType="String">
		SELECT M_PW FROM MEMBER
		WHERE M_ID=#{m_id}
	</select>

	<update id="cashDeduction" parameterType="Member">
		UPDATE MEMBER
		SET
		M_CASH= (M_CASH - 2000)
		WHERE M_ID=#{req_id}
	</update>

	<!-- 관리자 -->
	<select id="amGetMemberinfo" resultType="Member">
		SELECT * FROM MEMBER

	</select>

	<delete id="amMemberDelete" parameterType="Member">
		DELETE FROM MEMBER
		WHERE M_ID=#{m_id}
	</delete>

	<select id="getTsbBoardCount" resultType="int">
		SELECT COUNT(*) FROM
		TEAM_SEARCH_BOARD
	</select>

	<select id="getBoardCount" resultType="int">
		SELECT COUNT(*) FROM
		BULLETINBOARD
	</select>

	<select id="getTsbList" parameterType="Integer"
		resultType="Tsb_Board">
		<![CDATA[
			SELECT * FROM (
            	SELECT ROWNUM RN, TEAM_SEARCH_BOARD.*
            	FROM (SELECT * FROM TEAM_SEARCH_BOARD ORDER BY TSB_POSTNUM DESC) TEAM_SEARCH_BOARD
            	WHERE ROWNUM<=#{pageNum}*10  
            	)
         	WHERE RN>=#{pageNum}*10-9
		]]>
	</select>

	<select id="getBbList" parameterType="Integer"
		resultType="Board">
		<![CDATA[
			SELECT * FROM (
            	SELECT ROWNUM RN, BULLETINBOARD.*
            	FROM (SELECT * FROM BULLETINBOARD ORDER BY BB_POSTNUM DESC) BULLETINBOARD
            	WHERE ROWNUM<=#{pageNum}*10  
            	)
         	WHERE RN>=#{pageNum}*10-9
		]]>
	</select>

	<delete id="amTsbDelete" parameterType="Integer">
		DELETE FROM
		TEAM_SEARCH_BOARD WHERE TSB_POSTNUM=#{postNum}
	</delete>

	<delete id="amBbDelete" parameterType="Integer">
		DELETE FROM
		BULLETINBOARD WHERE BB_POSTNUM=#{postNum}
	</delete>
</mapper>